@import "tailwindcss/base";
/*@import "./custom-base.pcss";*/

@import "tailwindcss/components";
@import "./custom-components.pcss";

@import "tailwindcss/utilities";
/*@import "./custom-utilities.css";*/

/* This file is for your main application css. */
/*@import "./phoenix.css";*/
@import "../node_modules/nprogress/nprogress.css";

@import "./elements.pcss";
