<div class="bg-white rounded-lg shadow-lg p-5 md:p-20 mx-2">
    <div class="text-center">
        <h2 class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
            SAD<span class="text-brand">Badges</span>
        </h2>
        <h3 class='text-xl md:text-3xl mt-10'>Beta v0.5.0</h3>
        <p class="text-md md:text-xl mt-10">SAD Badges is a fully fledged record student management system for teachers.</p>
    </div>
</div>
