<%= if @live_action in [:new, :edit] do %>
  <%= live_modal @socket, BadgesWeb.TestLive.TopicLive.FormComponent,
    id: @topic.id || :new,
    title: @page_title,
    action: @live_action,
    test: @test,
    topic: @topic,
    return_to: Routes.test_topic_index_path(@socket, :index, @test) %>
<% end %>


<div>
    <h1 class="text-2xl leading-6 font-bold text-gray-800 my-3"> Listing Topics for <span class="text-brand"><%= @test.name %></span></h1>

    <div class="inline-block bg-white min-w-full max-w-2xl rounded-lg shadow-md mt-4">
        <table class="table-card responsive">
            <thead>
            <tr>
                      <th>Name</th>


                <th></th>
            </tr>
            </thead>
            <tbody id="topics">
                <%= for topic <- @topics do %>
                <tr id="topic-<%= topic.id %>">
                            <td><%= topic.name %></td>


                    <td>
                        <div class="flex space-x-2 justify-center">
                            <div class="btn-wrapper"><%= live_redirect "Show", to: Routes.test_topic_show_path(@socket, :show, @test, topic), class: "btn-outline" %></div>
                            <div class="btn-wrapper"><%= live_patch "Edit", to: Routes.test_topic_index_path(@socket, :edit, @test, topic), class: "btn info" %></div>
                            <div class="btn-wrapper"><%= live_patch "Parts", to: Routes.test_topic_part_index_path(@socket, :index, @test, topic), class: "btn warning" %></div>
                            <div class="btn-wrapper"><%= link "Delete", to: "#", phx_click: "delete", phx_value_id: topic.id, data: [confirm: "Are you sure?"], class: "btn danger" %></div>
                        </div>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <%= if length(@topics) == 0 do %>
        <p class="text-center my-12 text-gray-500 italic text-md">There are no topics yet :/</p>
        <% end %>

        <div class="p-5 border-t flex justify-end space-x-4">
            <div class="btn-wrapper">
                <%= live_patch "Back", to: Routes.test_index_path(@socket, :index), class: "btn info" %>
            </div>
            <div class="btn-wrapper">
                <%= live_patch "New Topic", to: Routes.test_topic_index_path(@socket, :new, @test), class: "btn cta" %>
            </div>
        </div>
    </div>
</div>
