<div>
    <h1 class="text-2xl leading-6 font-bold text-gray-800 my-3">Show Topic</h1>


    <%= if @live_action in [:edit] do %>
        <%= live_modal @socket, BadgesWeb.TestLive.TopicLive.FormComponent,
            id: @topic.id,
            title: @page_title,
            action: @live_action,
            test_id: @test_id,
            topic: @topic,
            return_to: Routes.test_topic_show_path(@socket, :show, @test_id, @topic) %>
    <% end %>


    <div class="bg-white min-w-full max-w-2xl rounded-lg shadow-md mt-4">
        <ul class="p-6">

                <li class="mb-2">
                    <strong class="mr-2">Name:</strong>
                    <%= @topic.name %>
                </li>

        </ul>

        <div class="modal-footer">
            <div class="btn-wrapper"><span><%= live_patch "Edit", to: Routes.test_topic_show_path(@socket, :edit, @test_id, @topic), class: "btn cta" %></span></div>
            <div class="btn-wrapper"><span><%= live_patch "Parts", to: Routes.test_topic_part_index_path(@socket, :index, @test_id, @topic), class: "btn warning" %></span></div>
            <div class="btn-wrapper"><span><%= live_redirect "Back", to: Routes.test_topic_index_path(@socket, :index, @test_id), class: "btn info" %></span></div>
        </div>
    </div>
</div>
